// SPDX-License-Identifier: (GPL-2.0-only OR BSD-3-Clause)

#include <dt-bindings/clock/stm32mp1-clks.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

&{/} {
	mclk: codec-mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <26000000>;
	};

	reg_2v5: regulator-2v5 {
		compatible = "regulator-fixed";
		regulator-name = "2v5";
		regulator-min-microvolt = <2500000>;
		regulator-max-microvolt = <2500000>;
		regulator-always-on;
	};

	sound {
		compatible = "karo,stm32mp15-sgtl5000",
			     "audio-graph-card";
		label = "TXMP-SGTL5000";
		widgets =
			"Microphone", "Mic Jack",
			"Line", "Line In",
			"Line", "Line Out",
			"Headphone", "Headphone Jack";
		routing =
			"MIC_IN", "Mic Jack",
			"Mic Jack", "Mic Bias",
			"Headphone Jack", "HP_OUT";
		dais = <&sai2a_port &sai2b_port>;
		status = "okay";
	};
};

&i2c6 {
	status = "okay";

	sgtl5000: codec@a {
		compatible = "fsl,sgtl5000";
		#sound-dai-cells = <0>;
		reg = <0xa>;
		VDDA-supply = <&reg_2v5>;
		VDDIO-supply = <&reg_3v3>;
		clocks = <&sai2a>;
		status = "okay";

		port {
			sgtl5000_in: tx_endpoint {
				remote-endpoint = <&sai2_out>;
			};

			sgtl5000_out: rx_endpoint {
				remote-endpoint = <&sai2_in>;
			};
		};
	};
};

&sai2 {
	clocks = <&rcc SAI2>, <&rcc PLL3_Q>, <&rcc PLL3_R>;
	clock-names = "pclk", "x8k", "x11k";
	status = "okay";
};

&sai2a {
	#clock-cells = <0>;
	dma-names = "tx";
	status = "okay";

	sai2a_port: port {
		sai2_out: endpoint {
			remote-endpoint = <&sgtl5000_in>;
			dai-format = "i2s";
			bitclock-master = <&sgtl5000>;
			frame-master = <&sgtl5000>;
			mclk-fs = <256>;
		};
	};
};

&sai2b {
	dma-names = "rx";
	clocks = <&rcc SAI2_K>, <&sai2a>;
	clock-names = "sai_ck", "MCLK";
	st,sync = <&sai2a 2>;
	status = "okay";

	sai2b_port: port {
		sai2_in: endpoint {
			remote-endpoint = <&sgtl5000_out>;
			dai-format = "i2s";
			bitclock-master = <&sgtl5000>;
			frame-master = <&sgtl5000>;
			mclk-fs = <256>;
		};
	};
};
