LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BSPDIR := "${@os.path.abspath(os.path.dirname(d.getVar('FILE', True)) + '/../..')}"

BBFILES ?= ""
BBLAYERS = " \
  ${BSPDIR}/layers/meta-openembedded/meta-networking \
  ${BSPDIR}/layers/meta-openembedded/meta-oe \
  ${BSPDIR}/layers/meta-openembedded/meta-python \
  \
  ${BSPDIR}/layers/poky/meta \
  ${BSPDIR}/layers/poky/meta-poky \
  ${BSPDIR}/layers/poky/meta-yocto-bsp \
"
