// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright 2020 (C) Lothar Waßmann <LW@KARO-electronics.de>
 */

#include "stm32mp15-qsmp.dtsi"
#include "stm32mp153-karo.dtsi"

/ {
	aliases {
		can0 = &m_can1;
		can1 = &m_can2;
	};
};

&m_can1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&qsmp_fdcan1_pins>;
	pinctrl-1 = <&qsmp_fdcan1_sleep_pins>;
	status = "okay";
};

&pinctrl {
	qsmp_fdcan1_pins: qsmp-fdcan1-pins {
		pins1 {
			pinmux = <STM32_PINMUX('D', 0, AF9)>; /* FDCAN1_RX */
			bias-disable;
		};

		pins2 {
			pinmux = <STM32_PINMUX('D', 1, AF9)>; /* FDCAN1_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	qsmp_fdcan1_sleep_pins: qsmp-fdcan1-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('D', 0, ANALOG) /* FDCAN1_RX */
				  STM32_PINMUX('D', 1, ANALOG) /* FDCAN1_TX */
			>;
		};
	};
};
