// SPDX-License-Identifier: GPL-2.0 OR BSD-3-Clause
/*
 * Copyright (C) 2020 Markus Bauer <mb@karo-electronics.de>
 */

#include "stm32mp157c-qsmp-1570.dts"
#include "stm32mp15-karo-qsbase2.dtsi"
#include "stm32mp15-karo-dsi-panel.dtsi"

/ {
	model = "Ka-Ro electronics GmbH QSMP-1570 module on QSBASE2 baseboard with RaspberryPi 7 inch Display";
};

&dsi {
	status = "okay";

	ports {
		port@1 {
			reg = <1>;

			dsi_to_dsi_panel: endpoint {
				remote-endpoint = <&dsi_panel_from_dsi>;
			};
		};
	};
};

&dsi_panel {
	compatible = "raspberrypi,tc358762";
	dsi-lanes = <1>;
	video-mode = <2>;
	panel-width-mm = <154>;
	panel-height-mm = <86>;
	power-supply = <&reg_rpi_display>;

	port {
		dsi_panel_from_dsi: endpoint {
			remote-endpoint = <&dsi_to_dsi_panel>;
		};
	};
};

&gpu {
	status = "okay";
};

&i2c6 {
	status = "okay";

	reg_rpi_display: regulator-rpi-display@45 {
		compatible = "raspberrypi,7inch-touchscreen-panel-regulator";
		reg = <0x45>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	rpi-ft5406@38 {
		compatible = "rpi_ft5406";
		reg = <0x38>;
		power-supply = <&reg_rpi_display>;
	};
};
