// SPDX-License-Identifier: (GPL-2.0 OR BSD-3-Clause)
/*
 * Copyright (C) 2020 Lothar Waßmann <LW@KARO-electronics.de>
 */

#include "stm32mp15-karo-mb7.dtsi"

/ {
	/delete-node/ sound;
};

&polytouch {
	interrupt-parent = <&gpiod>;
	interrupts = <12 IRQ_TYPE_EDGE_FALLING>;
	/delete-property/ reset-gpios;
	/delete-property/ wake-gpios;
};

&rtc_i2c {
	status = "disabled";
};

&sgtl5000 {
	status = "disabled";
};

&uart4_pins {
	pins1 {
		/delete-property/ bias-disable;
		bias-pull-up;
	};
};

&sai2 {
	pinctrl-0 = <&qsmp_sai2_pins>;
	pinctrl-1 = <&qsmp_sai2_sleep_pins>;
};

&pinctrl {
	qsmp_sai2_pins: txmp-sai2-pins {
		pins1 {
			pinmux = <
				STM32_PINMUX('D', 11, AF10)	/* TXD */
				STM32_PINMUX('I', 7, AF10)	/* FS */
			>;
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <
				STM32_PINMUX('A', 0, AF10)	/* RXD */
				STM32_PINMUX('D', 13, AF10)	/* SCK */
			>;
		};
	};

	qsmp_sai2_sleep_pins: txmp-sai2-sleep-pins {
		pins {
			pinmux = <
				STM32_PINMUX('A', 0, ANALOG)	/* RXD */
				STM32_PINMUX('D', 11, ANALOG)	/* TXD */
				STM32_PINMUX('D', 13, ANALOG)	/* SCK */
				STM32_PINMUX('I', 7, ANALOG)	/* FS */
			>;
		};
	};
};
