// SPDX-License-Identifier: GPL-2.0 OR BSD-3-Clause
/*
 * Copyright (C) 2020 Lothar Waßmann <LW@KARO-electronics.de>
 */

#include "stm32mp153a-qsmp-1530.dts"
#include "stm32mp15-karo-qsbase1.dtsi"

/ {
	model = "Ka-Ro electronics GmbH QSMP-1530 module on QSBASE1 baseboard";
};
