// SPDX-License-Identifier: GPL-2.0 OR BSD-3-Clause
/*
 * Copyright (C) 2020 Markus Bauer <mb@karo-electronics.de>
 */

/ {
	/delete-node/ sound;
};

&dsi {
	status = "okay";

	ports {
		port@0 {
			reg = <0>;

			dsi_in: endpoint {
				remote-endpoint = <&ltdc_ep0_out>;
			};
		};
	};
};

&ltdc {
	status = "okay";

	port {
		ltdc_ep0_out: endpoint {
			remote-endpoint = <&dsi_in>;
		};
	};
};

&sdmmc1 {
	status = "disabled";
};

&timers2 {
	status = "okay";

	qsmp_pwm2: pwm {
		status = "okay";
	};
};

&uart4_pins {
	pins1 {
		/delete-property/ bias-disable;
		bias-pull-up;
	};
};
