// SPDX-License-Identifier: (GPL-2.0-or-later OR BSD-3-Clause)
/*
 * Copyright (C) 2024, STMicroelectronics - All Rights Reserved
 * Author: STM32CubeMX code generation for STMicroelectronics.
 */

/* For more information on Device Tree configuration, please refer to
 * https://wiki.st.com/stm32mpu/wiki/Category:Device_tree_configuration
 */

/dts-v1/;

#include <dt-bindings/pinctrl/stm32-pinfunc.h>
#include <dt-bindings/regulator/nxp,pca9450-regulator.h>
#include "stm32mp255.dtsi"
#include "stm32mp25-karo-resmem.dtsi"
#include "stm32mp255f-qsmp-2550-rcc.dtsi"
#include "stm32mp25xf.dtsi"
#include "stm32mp25xxak-pinctrl.dtsi"
#include "stm32mp255f-qsmp-2550-rif.dtsi"

/ {
	model = "Ka-Ro electronics GmbH QSMP-2550 module";
	compatible = "karo,stm32mp255f-qsmp-2550", "st,stm32mp255";

	aliases {
		serial0 = &uart4;
		serial1 = &usart3;
		serial2 = &uart5;
		i2c0 = &i2c1;
		i2c1 = &i2c2;
		i2c2 = &i2c6;
		i2c3 = &i2c7;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x00000000 0x80000000 0x00000000 0x40000000>;
	};

	vin_regulator: vdd {
		compatible = "regulator-fixed";
		regulator-name = "vdd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};
};

&bsec {
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vddcpu>;
};

&cpu0_opp_table {
	opp-1500000000 {
		opp-microvolt = <912500>;
	};
};

&hse_monitor {
	status = "okay";
};

&hsi_calibration {
	status = "okay";
};

&hash {
	status = "okay";
};

&hpdma2 {
	status = "okay";
};

&hpdma3 {
	status = "okay";
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	i2c-scl-rising-time-ns = <185>;
	i2c-scl-falling-time-ns = <20>;
	clock-frequency = <400000>;
	status = "okay";

	pca9450a: pmic@25 {
		compatible = "nxp,pca9450";
		reg = <0x25>;
		vin-supply = <&vin_regulator>;
		wdog-b-reset = "none";	/* one of: all, cold, warm, disabled */
		pmic-rst-b = "cold";	/* dto. */
		status = "okay";

		regulators {
			vddcore: buck1 {
				regulator-name = "vddcore";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <837500>;
				regulator-always-on;

				default {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <825000>;
				};

				lplv {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <675000>;
				};

				standby {
					regulator-off-in-suspend;
				};

				off {
					regulator-off-in-suspend;
				};
			};

			vddgpu_pmic: buck2 {
				regulator-name = "vddgpu";
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <825000>;
				regulator-always-on;

				default {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <825000>;
				};

				lplv {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <675000>;
				};

				standby {
					regulator-off-in-suspend;
				};

				off {
					regulator-off-in-suspend;
				};
			};

			vddcpu: buck3 {
				regulator-name = "vddcpu";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <912500>;
				regulator-always-on;

				default {
					regulator-off-in-suspend;
				};

				lplv {
					regulator-off-in-suspend;
				};

				standby {
					regulator-off-in-suspend;
				};

				off {
					regulator-off-in-suspend;
				};
			};

			v1v8: buck5 {
				regulator-name = "v1v8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;

				default {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};

				lplv {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};

				standby {
					regulator-off-in-suspend;
				};

				off {
					regulator-off-in-suspend;
				};
			};

			vddq_ddr: buck6 {
				regulator-name = "vddq_ddr";
				regulator-min-microvolt = <1100000>;
				regulator-max-microvolt = <1100000>;
				regulator-always-on;

				default {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1100000>;
				};

				lplv {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1100000>;
				};

				standby {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1100000>;
				};

				off {
					regulator-off-in-suspend;
				};
			};

			vdda1v8_aon: ldo1 {
				regulator-name = "vdda1v8_aon";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
			};

			vddio_sdcard: ldo3 {
				regulator-name = "vddio_sdcard";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vdd_ana_1v8: ldo4 {
				regulator-name = "vdd_ana_1v8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
			};
		};
	};
};

&ipcc1 {
	status = "okay";
};

&iwdg1 {
//	status = "okay";
};

&lptimer1 {
	status = "okay";

	counter {
		status = "okay";
	};
};

&m33_rproc {
	status = "okay";
};

&pka {
	status = "okay";
};

&pwr {
	status = "okay";
};

&rcc {
	st,c1msrd = <2>;
	st,clk_opp {
		st,ck_cpu1 {
			cfg-1 {
				hz = <1000000000>;
				st,clksrc = <0>;
				st,pll = <&pll1_cfg_1000MHz>;
			};

			cfg-2 {
				hz = <1200000000>;
				st,clksrc = <0>;
				st,pll = <&pll1_cfg_1200MHz>;
			};

			cfg-3 {
				hz = <1500000000>;
				st,clksrc = <0>;
				st,pll = <&pll1_cfg_1500MHz>;
			};
		};
	};
};

&risaf2 {
	status = "okay";
};

&risaf5 {
	status = "okay";
};

&rtc {
	status = "okay";
};

&saes {
	status = "okay";
};

&scmi_regu {
	scmi_vddcore: voltd-vddcore@a {
		reg = <VOLTD_SCMI_PCA9450_BUCK1>;
		voltd-supply = <&vddcore>;
	};

	scmi_v1v8: voltd-v1v8@e {
		reg = <VOLTD_SCMI_PCA9450_BUCK5>;
		voltd-supply = <&v1v8>;
	};

	scmi_vddio_sdcard: voltd-vddio-sdcard@13 {
		reg = <VOLTD_SCMI_PCA9450_LDO3>;
		voltd-supply = <&vddio_sdcard>;
	};
};

&tamp {
	wakeup-source;
	wakeup-parent = <&exti2>;
	st,tamp-passive-precharge = <2>;
	st,tamp-passive-nb-sample = <4>;
	st,tamp-passive-sample-clk-div = <16384>;
};

&uart4 {
	/* U-Boot console */
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pins>;
};

&usart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&usart3_pins>;
};

/* PWR regulators */
&vdd33ucpd {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	vdd33ucpd-supply = <&vin_regulator>;
	regulator-always-on;
	status = "okay";
};

&vdda18adc {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	vdda18adc-supply = <&v1v8>;
	regulator-always-on;
	status = "okay";
};

&vddgpu {
	vddgpu-supply = <&vddgpu_pmic>;
	status = "okay";
};

&vddio1 {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	vddio1-supply = <&vddio_sdcard>;
	status = "okay";
};

&vddio2 {
	vddio2-supply = <&v1v8>;
	regulator-always-on;
	status = "okay";
};

&vddio3 {
	vddio3-supply = <&vin_regulator>;
	regulator-always-on;
	status = "okay";
};

&vddio4 {
	vddio4-supply = <&vin_regulator>;
	regulator-always-on;
	status = "okay";
};

&vddio {
	vdd-supply = <&vin_regulator>;
	status = "okay";
};

&pinctrl {
	i2c1_pins: i2c1-pins {
		pins1 {
			pinmux = <
			          STM32_PINMUX('G', 13, AF9)	/* I2C1_SCL */
				  STM32_PINMUX('I', 1, AF9)	/* I2C1_SDA */
			>;
			bias-disable;
			drive-open-drain;
			slew-rate = <0>;
		};
	};

	i2c1_sleep_pins: i2c1-sleep-pins {
		pins1 {
			pinmux = <
			          STM32_PINMUX('G', 13, ANALOG)	/* I2C1_SCL */
				  STM32_PINMUX('I', 1, ANALOG)	/* I2C1_SDA */
			>;
		};
	};

	uart4_pins: uart4-pins {
		pins1 {
			pinmux = <STM32_PINMUX_NSEC('B', 7, AF3)>;	/* UART4_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <STM32_PINMUX_NSEC('B', 6, AF3)>;	/* UART4_RX */
			bias-pull-up;
		};
	};

	uart5_pins: uart5-pins {
		pins1 {
			pinmux = <STM32_PINMUX_NSEC('G', 9, AF6)>;	/* UART5_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <STM32_PINMUX_NSEC('G', 10, AF6)>;	/* UART5_RX */
			bias-pull-up;
		};
	};

	usart3_pins: usart3-pins {
		pins1 {
			pinmux = <STM32_PINMUX_NSEC('I', 6, AF6)>;	/* USART3_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <STM32_PINMUX_NSEC('I', 7, AF6)>;	/* USART3_RX */
			bias-pull-up;
		};
	};
};
