// SPDX-License-Identifier: (GPL-2.0-only OR BSD-3-Clause)
/*
 * Copyright (C) 2020 Markus Bauer <mb@karo-electronics.de>
 * Copyright (C) 2024 Lothar Waßmann <LW@karo-electronics.de>
 * Copyright (C) 2025 Marcel Mertens <MM@karo-electronics.de>
 */

/dts-v1/;

/plugin/;

&{/} {
	panel_disp: panel_disp@1 {
		reg = <1>;
		compatible = "raspberrypi,7inch-dsi", "simple-panel";
		default-on;
		backlight = <&reg_rpi_display>;
		power-supply = <&reg_rpi_display>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&bridge_out>;
			};
		};
	};

	reg_bridge: reg_bridge@1 {
		reg = <1>;
		compatible = "regulator-fixed";
		regulator-name = "bridge_reg";
		gpio = <&reg_rpi_display 0 0>;
		vin-supply = <&reg_rpi_display>;
		enable-active-high;
	};
};

&{/chosen} {
	overlays {
		qsmp-raspi-display;
	};
};

&dsi_panel {
	compatible = "toshiba,tc358762";
	default-on;
	vddc-supply = <&reg_bridge>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			bridge_in: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};

		port@1 {
			reg = <1>;
			bridge_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

&dsi_in {
	remote-endpoint = <&ltdc_ep0_out>;
};

&dsi_out {
	remote-endpoint = <&bridge_in>;
};

&i2c6 {
	clock-frequency = <100000>;
	status = "okay";

	ft5406: ts@38 {
		compatible = "edt,edt-ft5506";
		reg = <0x38>;
		vcc-supply = <&reg_rpi_display>;
		reset-gpio = <&reg_rpi_display 1 1>;

		touchscreen-size-x = < 800 >;
		touchscreen-size-y = < 480 >;
		touchscreen-inverted-x;
		touchscreen-inverted-y;
	};

	reg_rpi_display: regulator-rpi-display@45 {
		compatible = "raspberrypi,7inch-touchscreen-panel-regulator";
		reg = <0x45>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};
