// SPDX-License-Identifier: (GPL-2.0-only OR BSD-3-Clause)
/*
 * Copyright (C) 2020 Markus Bauer <mb@karo-electronics.de>
 * Copyright (C) 2024 Lothar Waßmann <LW@karo-electronics.de>
 */

/dts-v1/;

/plugin/;

&{/chosen} {
	overlays {
		qsmp-raspi-display;
	};
};

&dsi_panel {
	compatible = "raspberrypi,tc358762";
	dsi-lanes = <1>;
	video-mode = <2>;
	panel-width-mm = <154>;
	panel-height-mm = <86>;
	power-supply = <&reg_rpi_display>;
};

&i2c6 {
	status = "okay";

	reg_rpi_display: regulator-rpi-display@45 {
		compatible = "raspberrypi,7inch-touchscreen-panel-regulator";
		reg = <0x45>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	rpi-ft5406@38 {
		compatible = "rpi_ft5406";
		reg = <0x38>;
		power-supply = <&reg_rpi_display>;
	};
};
