// SPDX-License-Identifier: (GPL-2.0-only OR BSD-3-Clause)
/*
 * Copyright (C) 2020 Markus Bauer <mb@karo-electronics.de>
 * Copyright (C) 2024 Lothar Waßmann <LW@karo-electronics.de>
 */

/dts-v1/;

/plugin/;

&{/} {
	reg_bridge: reg_bridge@1 {
		reg = <1>;
		compatible = "regulator-fixed";
		regulator-name = "bridge_reg";
		gpio = <&reg_rpi_display 0 0>;
		vin-supply = <&reg_rpi_display>;
		enable-active-high;
	};
};

&{/chosen} {
	overlays {
		qsmp-raspi-display;
	};
};

&dsi_panel {
	compatible = "raspberrypi,tc358762";
	default-on;
	panel-width-mm = <154>;
	panel-height-mm = <86>;
	power-supply = <&reg_bridge>;
	backlight = <&reg_rpi_display>;
	status = "okay";

	port {
		dsi_panel_from_dsi: endpoint {
			remote-endpoint = <&dsi_out>;
		};
	};
};

&dsi_in {
	remote-endpoint = <&ltdc_ep0_out>;
};

&dsi_out {
	remote-endpoint = <&dsi_panel_from_dsi>;
};

&i2c6 {
	clock-frequency = <100000>;
	status = "okay";

	ft5406: ts@38 {
		compatible = "edt,edt-ft5506";
		reg = <0x38>;
		vcc-supply = <&reg_rpi_display>;
		reset-gpio = <&reg_rpi_display 1 1>;

		touchscreen-size-x = < 800 >;
		touchscreen-size-y = < 480 >;
	};

	reg_rpi_display: regulator-rpi-display@45 {
		compatible = "raspberrypi,7inch-touchscreen-panel-regulator";
		reg = <0x45>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};
