// SPDX-License-Identifier: (GPL-2.0-only OR BSD-3-Clause)
/*
 * Copyright (C) 2024 Lothar Waßmann <LW@KARO-electronics.de>
 */

/dts-v1/;

#include <dt-bindings/clock/st,stm32mp25-rcc.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/pinctrl/stm32-pinfunc.h>
#include "stm32mp25-karo-resmem.dtsi"
#include "stm32mp255.dtsi"
#include "stm32mp25xc.dtsi"
#include "stm32mp25xxak-pinctrl.dtsi"

/ {
	model = "Ka-Ro electronics GmbH TXMP-2550 module";
	compatible = "karo,stm32mp257f-txmp-2550", "karo,txmp", "st,stm32mp255";

	aliases {
		can0 = &m_can1;
		can1 = &m_can3;
		ethernet0 = &eth1;
		ethernet1 = &eth2;
		i2c0 = &i2c3;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c4;
		i2c4 = &i2c8;
		i2c5 = &i2c6;
		i2c6 = &i2c5;
		mmc0 = &sdmmc2;
		mmc1 = &sdmmc1;
		mmc2 = &sdmmc3;
		sai1 = &sai1;
		serial0 = &usart2;
		serial1 = &usart1;
		serial2 = &uart7;
		serial6 = &usart3;
		spi0 = &spi2;
		spi1 = &spi1;
		usb-host = &usbh;
		usbotg = &dwc3;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_usbotg_vbus: usbotg-vbus-regulator {
		compatible = "regulator-fixed";
		gpios = <&gpiod 2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-name = "usbotg-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};
};

&cryp1 {
	status = "okay";
};

&dwc3 {
	dr_mode = "peripheral";
	vbus-supply = <&reg_usbotg_vbus>;
};

&eth1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&eth1_mdio_pins &eth1_rmii_pins>;
	pinctrl-1 = <&eth1_mdio_sleep_pins &eth1_rmii_sleep_pins>;
#if 0
	snps,reset-gpios = <&gpioa 14 GPIO_ACTIVE_LOW>;
	snps,reset-delays-us = <0 25000 100>;
#endif
	phy-mode = "rmii";
	phy-handle = <&eth1_phy0>;
	st,eth-ref-clk-sel;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		reset-gpios = <&gpioa 14 GPIO_ACTIVE_LOW>;
		reset-assert-us = <25000>;
		reset-deassert-us = <100>;

		eth1_phy0: ethernet-phy@0 {
			reg = <0>;
			clocks = <&rcc CK_KER_ETH1>;
			interrupt-parent = <&gpioa>;
			interrupts = <12 IRQ_TYPE_EDGE_FALLING>;
			smsc,disable-energy-detect;
		};
	};
};

&hpdma {
	memory-region = <&hpdma1_lli>;
};

&hpdma2 {
	memory-region = <&hpdma2_lli>;
};

&hpdma3 {
	memory-region = <&hpdma3_lli>;
};

&i2c3 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c3_pins>;
	pinctrl-1 = <&i2c3_sleep_pins>;
	scl-gpios = <&gpioh 6 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpioh 2 GPIO_ACTIVE_HIGH>;
};

&iwdg1 {
	status = "okay";
};

&m_can1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&fdcan1_pins>;
	pinctrl-1 = <&fdcan1_sleep_pins>;
};

&m_can3 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&fdcan3_pins>;
	pinctrl-1 = <&fdcan3_sleep_pins>;
};

&rtc {
	status = "okay";
};

&scmi_regu {
	scmi_vddcore: voltd-vddcore@b {
		reg = <VOLTD_SCMI_STPMIC2_BUCK2>;
		regulator-name = "vddcore";
	};

	scmi_v1v8: voltd-v1v8@e {
		reg = <VOLTD_SCMI_STPMIC2_BUCK5>;
		regulator-name = "v1v8";
	};

	scmi_v3v3: voltd-v3v3@10 {
		reg = <VOLTD_SCMI_STPMIC2_BUCK7>;
		regulator-name = "v3v3";
	};

	scmi_vdd_emmc: voltd-vdd-emmc@12 {
		reg = <VOLTD_SCMI_STPMIC2_LDO2>;
		regulator-name = "vdd_emmc";
	};

	scmi_vdd3v3_usb: voltd-vdd3v3-usb@14 {
		reg = <VOLTD_SCMI_STPMIC2_LDO4>;
		regulator-name = "vdd3v3_usb";
	};
};

&scmi_vddio1 {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
};

&sdmmc1 {
	/* SD card slot #1 */
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc1_pins>;
	pinctrl-1 = <&sdmmc1_opendrain_pins>;
	pinctrl-2 = <&sdmmc1_sleep_pins>;
	disable-wp;
	st,neg-edge;
	bus-width = <4>;
	vmmc-supply = <&scmi_v3v3>;
	vqmmc-supply = <&scmi_vddio1>;
	no-1-8-v;
};

&sdmmc2 {
	/* eMMC */
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc2_pins>;
	pinctrl-1 = <&sdmmc2_opendrain_pins>;
	pinctrl-2 = <&sdmmc2_sleep_pins>;
	bus-width = <8>;
	vmmc-supply = <&scmi_vdd_emmc>;
	vqmmc-supply = <&scmi_vddio2>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	no-sd;
	no-sdio;
	st,neg-edge;
	non-removable;
	status = "okay";
};

&sdmmc3 {
	/* SD card slot #2 */
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc3_pins>;
	pinctrl-1 = <&sdmmc3_opendrain_pins>;
	pinctrl-2 = <&sdmmc3_sleep_pins>;
	disable-wp;
	st,neg-edge;
	bus-width = <4>;
	vmmc-supply = <&scmi_v3v3>;
	vqmmc-supply = <&scmi_vddio1>;
	no-1-8-v;
};

&spi2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&spi2_pins>;
	pinctrl-1 = <&spi2_sleep_pins>;
};

&uart7 {
	pinctrl-names = "default", "idle", "sleep";
	pinctrl-0 = <&uart7_pins &uart7_rtscts_pins>;
	pinctrl-1 = <&uart7_idle_pins &uart7_rtscts_idle_pins>;
	pinctrl-2 = <&uart7_sleep_pins &uart7_rtscts_sleep_pins>;
	status = "okay";
};

&usart1 {
	pinctrl-names = "default", "idle", "sleep";
	pinctrl-0 = <&usart1_pins &usart1_rtscts_pins>;
	pinctrl-1 = <&usart1_idle_pins &usart1_rtscts_idle_pins>;
	pinctrl-2 = <&usart1_sleep_pins &usart1_rtscts_sleep_pins>;
	status = "okay";
};

&usart2 {
	/* serial console */
	pinctrl-names = "default", "idle", "sleep";
	pinctrl-0 = <&usart2_pins &usart2_rtscts_pins>;
	pinctrl-1 = <&usart2_idle_pins &usart2_rtscts_idle_pins>;
	pinctrl-2 = <&usart2_sleep_pins &usart2_rtscts_sleep_pins>;
	status = "okay";
};

&usb2_phy1 {
	vdd33-supply = <&scmi_vdd3v3_usb>;
	status = "okay";
};

&usb2_phy2 {
	vdd33-supply = <&scmi_vdd3v3_usb>;
	status = "okay";
};

&usb3dr {
	status = "okay";
};

&usbh {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&usbh_pins>;
	pinctrl-1 = <&usbh_sleep_pins>;
	st,ovrcur-active-low;
	status = "okay";
};

&pinctrl {
	eth1_mdio_pins: eth1-mdio-pins {
		pins1 {
			pinmux = <
			          STM32_PINMUX('F', 0, AF10) /* ETH_MDC */
				  STM32_PINMUX('F', 2, AF10) /* ETH_MDIO */
			>;
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	eth1_mdio_sleep_pins: eth1-mdio-sleep-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('F', 0, ANALOG) /* ETH_MDC */
				  STM32_PINMUX('F', 2, ANALOG) /* ETH_MDIO */
			>;
		};
	};

	eth1_rmii_pins: eth1-rmii-pins {
		pins1 {
			pinmux = <
			          STM32_PINMUX('A', 15, AF10) /* ETH1_RMII_TXD0 */
				  STM32_PINMUX('C', 1, AF10) /* ETH1_RMII_TXD1 */
				  STM32_PINMUX('A', 13, AF10) /* ETH1_RMII_TX_EN */
			>;
			bias-disable;
			drive-push-pull;
			slew-rate = <3>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('F', 3, AF9)>; /* ETH1_CLK */
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};

		pins3 {
			pinmux = <
			       	  STM32_PINMUX('F', 1, AF10) /* ETH1_RMII_RXD0 */
				  STM32_PINMUX('C', 2, AF10) /* ETH1_RMII_RXD1 */
				  STM32_PINMUX('A', 11, AF10) /* ETH1_RMII_CRS_DV */
			>;
			bias-pull-up;
		};
	};

	eth1_rmii_sleep_pins: eth1-rmii-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('F', 3, ANALOG) /* ETH1_CLK */
			          STM32_PINMUX('A', 15, ANALOG) /* ETH1_RMII_TXD0 */
				  STM32_PINMUX('C', 1, ANALOG) /* ETH1_RMII_TXD1 */
				  STM32_PINMUX('A', 13, ANALOG) /* ETH1_RMII_TX_EN */
				  STM32_PINMUX('F', 1, ANALOG) /* ETH1_RMII_RXD0 */
				  STM32_PINMUX('C', 2, ANALOG) /* ETH1_RMII_RXD1 */
				  STM32_PINMUX('A', 11, ANALOG) /* ETH1_RMII_CRS_DV */
			>;
		};
	};

	fdcan1_pins: fdcan1-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('D', 15, AF7) /* FDCAN1_TX */
				  STM32_PINMUX('B', 11, AF7) /* FDCAN1_RX */
			>;
		};
	};

	fdcan1_sleep_pins: fdcan1-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('D', 15, ANALOG) /* FDCAN1_TX */
				  STM32_PINMUX('B', 11, ANALOG) /* FDCAN1_RX */
			>;
		};
	};

	fdcan3_pins: fdcan3-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('D', 2, AF9) /* FDCAN3_TX */
				  STM32_PINMUX('D', 1, AF9) /* FDCAN3_RX */
			>;
		};
	};

	fdcan3_sleep_pins: fdcan3-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('D', 2, ANALOG) /* FDCAN3_TX */
				  STM32_PINMUX('D', 1, ANALOG) /* FDCAN3_RX */
			>;
		};
	};

	i2c3_pins: i2c3-pins {
		pins {
			pinmux = <
			          STM32_PINMUX('H', 6, AF9) /* I2C3_SCL */
				  STM32_PINMUX('H', 2, AF9) /* I2C3_SDA */
			>;
			bias-pull-up;
			drive-open-drain;
			slew-rate = <0>;
		};
	};

	i2c3_sleep_pins: i2c3-sleep-pins {
		pins {
			pinmux = <
			          STM32_PINMUX('H', 6, ANALOG) /* I2C3_SCL */
				  STM32_PINMUX('H', 2, ANALOG) /* I2C3_SDA */
			>;
			bias-pull-up;
		};
	};

	sdmmc1_pins: txmp-sdmmc1-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('E', 4, AF10) /* SDMMC1_D0 */
				  STM32_PINMUX('E', 5, AF10) /* SDMMC1_D1 */
				  STM32_PINMUX('E', 0, AF10) /* SDMMC1_D2 */
				  STM32_PINMUX('E', 2, AF10) /* SDMMC1_CMD */
			>;
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};

		pins2 {
			pinmux = <
				  STM32_PINMUX('E', 1, AF10) /* SDMMC1_D3 */
			>;
			bias-pull-up;
			drive-push-pull;
			slew-rate = <1>;
		};

		pins3 {
			pinmux = <STM32_PINMUX('E', 3, AF10)>; /* SDMMC1_CK */
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};
	};

	sdmmc1_opendrain_pins: txmp-sdmmc1-opendrain-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('E', 4, AF10) /* SDMMC1_D0 */
				  STM32_PINMUX('E', 5, AF10) /* SDMMC1_D1 */
			       	  STM32_PINMUX('E', 0, AF10) /* SDMMC1_D2 */
			>;
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};

		pins2 {
			pinmux = <
				  STM32_PINMUX('E', 1, AF10) /* SDMMC1_D3 */
			>;
			bias-pull-up;
			drive-push-pull;
			slew-rate = <1>;
		};

		pins3 {
			pinmux = <STM32_PINMUX('E', 3, AF10)>; /* SDMMC1_CK */
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};

		pins4 {
			pinmux = <STM32_PINMUX('E', 2, AF10)>; /* SDMMC1_CMD */
			bias-disable;
			drive-open-drain;
			slew-rate = <1>;
		};
	};

	sdmmc1_sleep_pins: txmp-sdmmc1-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('E', 4, ANALOG) /* SDMMC1_D0 */
				  STM32_PINMUX('E', 5, ANALOG) /* SDMMC1_D1 */
			       	  STM32_PINMUX('E', 0, ANALOG) /* SDMMC1_D2 */
				  STM32_PINMUX('E', 1, ANALOG) /* SDMMC1_D3 */
				  STM32_PINMUX('E', 3, ANALOG) /* SDMMC1_CK */
				  STM32_PINMUX('E', 2, ANALOG) /* SDMMC1_CMD */
			>;
		};
	};

	sdmmc2_pins: txmp-sdmmc2-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('E', 13, AF12)	/* SDMMC2_D0 */
				  STM32_PINMUX('E', 11, AF12)	/* SDMMC2_D1 */
				  STM32_PINMUX('E', 8, AF12)	/* SDMMC2_D2 */
				  STM32_PINMUX('E', 12, AF12)	/* SDMMC2_D3 */
				  STM32_PINMUX('E', 10, AF12)	/* SDMMC2_D4 */
				  STM32_PINMUX('E', 9, AF12)	/* SDMMC2_D5 */
				  STM32_PINMUX('E', 6, AF12)	/* SDMMC2_D6 */
				  STM32_PINMUX('E', 7, AF12)	/* SDMMC2_D7 */
				  STM32_PINMUX('E', 15, AF12)	/* SDMMC2_CMD */
			>;
			bias-disable;
			drive-push-pull;
			slew-rate = <2>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('E', 14, AF12)>; /* SDMMC2_CK */
			bias-disable;
			drive-push-pull;
			slew-rate = <3>;
		};
	};

	sdmmc2_opendrain_pins: txmp-sdmmc2-opendrain-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('E', 13, AF12)	/* SDMMC2_D0 */
				  STM32_PINMUX('E', 11, AF12)	/* SDMMC2_D1 */
				  STM32_PINMUX('E', 8, AF12)	/* SDMMC2_D2 */
				  STM32_PINMUX('E', 12, AF12)	/* SDMMC2_D3 */
				  STM32_PINMUX('E', 10, AF12)	/* SDMMC2_D4 */
				  STM32_PINMUX('E', 9, AF12)	/* SDMMC2_D5 */
				  STM32_PINMUX('E', 6, AF12)	/* SDMMC2_D6 */
				  STM32_PINMUX('E', 7, AF12)	/* SDMMC2_D7 */
			>;
			bias-disable;
			drive-push-pull;
			slew-rate = <2>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('E', 14, AF12)>; /* SDMMC2_CK */
			bias-disable;
			drive-push-pull;
			slew-rate = <3>;
		};

		pins3 {
			pinmux = <STM32_PINMUX('E', 15, AF12)>;	/* SDMMC2_CMD */
			bias-pull-up;
			drive-open-drain;
			slew-rate = <2>;
		};
	};

	sdmmc2_sleep_pins: txmp-sdmmc2-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('E', 13, ANALOG)	/* SDMMC2_D0 */
				  STM32_PINMUX('E', 11, ANALOG)	/* SDMMC2_D1 */
				  STM32_PINMUX('E', 8, ANALOG)	/* SDMMC2_D2 */
				  STM32_PINMUX('E', 12, ANALOG)	/* SDMMC2_D3 */
				  STM32_PINMUX('E', 10, ANALOG)	/* SDMMC2_D4 */
				  STM32_PINMUX('E', 9, ANALOG)	/* SDMMC2_D5 */
				  STM32_PINMUX('E', 6, ANALOG)	/* SDMMC2_D6 */
				  STM32_PINMUX('E', 7, ANALOG)	/* SDMMC2_D7 */
				  STM32_PINMUX('E', 14, ANALOG)	/* SDMMC2_CK */
				  STM32_PINMUX('E', 15, ANALOG)	/* SDMMC2_CMD */
			>;
		};
	};

	sdmmc3_pins: txmp-sdmmc3-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('B', 14, AF10) /* SDMMC3_D0 */
				  STM32_PINMUX('D', 13, AF10) /* SDMMC3_D1 */
				  STM32_PINMUX('B', 12, AF10) /* SDMMC3_D2 */
				  STM32_PINMUX('D', 12, AF10) /* SDMMC3_CMD */
			>;
			bias-disable;
			drive-push-pull;
			slew-rate = <2>;
		};

		pins2 {
			pinmux = <
				  STM32_PINMUX('I', 11, AF10) /* SDMMC3_D3 */
			>;
			bias-pull-up;
			drive-push-pull;
			slew-rate = <1>;
		};

		pins3 {
			pinmux = <STM32_PINMUX('B', 3, AF10)>; /* SDMMC3_CK */
			bias-disable;
			drive-push-pull;
			slew-rate = <3>;
		};
	};

	sdmmc3_opendrain_pins: txmp-sdmmc3-opendrain-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('B', 14, AF10) /* SDMMC3_D0 */
				  STM32_PINMUX('D', 13, AF10) /* SDMMC3_D1 */
			       	  STM32_PINMUX('B', 12, AF10) /* SDMMC3_D2 */
				  STM32_PINMUX('I', 11, AF10) /* SDMMC3_D3 */
			>;
			bias-disable;
			drive-push-pull;
			slew-rate = <2>;
		};

		pins2 {
			pinmux = <
				  STM32_PINMUX('I', 11, AF10) /* SDMMC3_D3 */
			>;
			bias-pull-up;
			drive-push-pull;
			slew-rate = <1>;
		};

		pins3 {
			pinmux = <STM32_PINMUX('B', 3, AF10)>; /* SDMMC3_CK */
			bias-disable;
			drive-push-pull;
			slew-rate = <3>;
		};

		pins4 {
			pinmux = <STM32_PINMUX('D', 12, AF10)>; /* SDMMC3_CMD */
			bias-disable;
			drive-open-drain;
			slew-rate = <2>;
		};
	};

	sdmmc3_sleep_pins: txmp-sdmmc3-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('B', 14, ANALOG) /* SDMMC3_D0 */
				  STM32_PINMUX('D', 13, ANALOG) /* SDMMC3_D1 */
			       	  STM32_PINMUX('B', 12, ANALOG) /* SDMMC3_D2 */
				  STM32_PINMUX('I', 11, ANALOG) /* SDMMC3_D3 */
				  STM32_PINMUX('B', 3, ANALOG) /* SDMMC3_CK */
				  STM32_PINMUX('D', 12, ANALOG) /* SDMMC3_CMD */
			>;
		};
	};

	spi2_pins: spi2-pins {
		pins1 {
			pinmux = <
			          STM32_PINMUX('B', 0, AF2) /* SPI2_SCLK */
				  STM32_PINMUX('B', 2, AF2) /* SPI2_MOSI */
			>;
			bias-disable;
		};

		pins2 {
			pinmux = <
				  STM32_PINMUX('B', 6, AF2) /* SPI2_MISO */
				  STM32_PINMUX('B', 4, AF2) /* SPI2_RDY */
			>;
			bias-pull-up;
		};
	};

	spi2_sleep_pins: spi2-sleep-pins {
		pins {
			pinmux = <
			          STM32_PINMUX('B', 0, ANALOG) /* SPI2_SCLK */
				  STM32_PINMUX('B', 4, ANALOG) /* SPI2_RDY */
				  STM32_PINMUX('B', 2, ANALOG) /* SPI2_MOSI */
				  STM32_PINMUX('B', 6, ANALOG) /* SPI2_MISO */
			>;
			bias-pull-up;
		};
	};

	uart7_pins: uart7-pins {
		pins1 {
			pinmux = <STM32_PINMUX('D', 3, AF6)>; /* UART7_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('D', 0, AF6)>; /* UART7_RX */
			bias-pull-up;
		};
	};

	uart7_idle_pins: uart7-idle-pins {
		pins1 {
			pinmux = <STM32_PINMUX('D', 3, ANALOG)>; /* UART7_TX */
		};

		pins2 {
			pinmux = <STM32_PINMUX('D', 0, AF6)>; /* UART7_RX */
			bias-pull-up;
		};
	};

	uart7_rtscts_pins: uart7-rtscts-pins {
		pins1 {
			pinmux = <STM32_PINMUX('H', 7, AF6)>; /* UART7_RTS_DE */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('H', 8, AF6)>; /* UART7_CTS */
			bias-pull-up;
		};
	};

	uart7_rtscts_idle_pins: uart7-rtscts-idle-pins {
		pins1 {
			pinmux = <STM32_PINMUX('H', 7, ANALOG)>; /* UART7_RTS_DE */
		};

		pins2 {
			pinmux = <STM32_PINMUX('H', 8, ANALOG)>; /* UART7_CTS */
			bias-pull-up;
		};
	};

	uart7_rtscts_sleep_pins: uart7-rtscts-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('H', 7, ANALOG) /* UART7_RTS_DE */
				  STM32_PINMUX('H', 8, ANALOG) /* UART7_CTS */
			>;
		};
	};

	uart7_sleep_pins: uart7-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('D', 3, ANALOG) /* UART7_TX */
				  STM32_PINMUX('D', 0, ANALOG) /* UART7_RX */
			>;
		};
	};

	usart1_pins: usart1-pins {
		pins1 {
			pinmux = <STM32_PINMUX('B', 8, AF6)>; /* USART1_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('B', 10, AF6)>; /* USART1_RX */
			bias-pull-up;
		};
	};

	usart1_idle_pins: usart1-idle-pins {
		pins1 {
			pinmux = <STM32_PINMUX('B', 8, ANALOG)>; /* USART1_TX */
		};

		pins2 {
			pinmux = <STM32_PINMUX('B', 9, AF6)>; /* USART1_RTS */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
		pins3 {
			pinmux = <STM32_PINMUX('B', 10, AF6)>; /* USART1_RX */
			bias-pull-up;
		};
	};

	usart1_rtscts_pins: usart1-rtscts-pins {
		pins1 {
			pinmux = <STM32_PINMUX('B', 9, AF6)>; /* USART1_RTS */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('I', 3, AF6)>; /* USART1_CTS_NSS */
			bias-pull-up;
		};
	};

	usart1_rtscts_idle_pins: usart1-rtscts-idle-pins {
		pins1 {
			pinmux = <STM32_PINMUX('I', 3, ANALOG)>; /* USART1_CTS_NSS */
		};

		pins2 {
			pinmux = <STM32_PINMUX('B', 9, AF6)>; /* USART1_RTS */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	usart1_rtscts_sleep_pins: usart1-rtscts-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('B', 9, ANALOG) /* USART1_RTS */
				  STM32_PINMUX('I', 3, ANALOG) /* USART1_CTS_NSS */
			>;
		};
	};

	usart1_sleep_pins: usart1-sleep-pins {
		pins {
			pinmux = <
			          STM32_PINMUX('B', 8, ANALOG) /* USART1_TX */
				  STM32_PINMUX('B', 10, ANALOG) /* USART1_RX */
			>;
		};
	};

	usart2_pins: usart2-pins {
		pins1 {
			pinmux = <STM32_PINMUX('A', 4, AF6)>; /* USART2_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('A', 8, AF8)>; /* USART2_RX */
			bias-pull-up;
		};
	};

	usart2_idle_pins: usart2-idle-pins {
		pins1 {
			pinmux = <STM32_PINMUX('A', 4, ANALOG)>; /* USART2_TX */
		};

		pins2 {
			pinmux = <STM32_PINMUX('A', 8, AF8)>; /* USART2_RX */
			bias-pull-up;
		};
	};

	usart2_rtscts_pins: usart2-rtscts-pins {
		pins1 {
			pinmux = <STM32_PINMUX('A', 5, AF6)>; /* USART2_RTS */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('A', 9, AF6)>; /* USART2_CTS_NSS */
			bias-pull-up;
		};
	};

	usart2_rtscts_idle_pins: usart2-rtscts-idle-pins {
		pins1 {
			pinmux = <STM32_PINMUX('A', 5, ANALOG)>; /* USART2_RTS */
		};

		pins2 {
			pinmux = <STM32_PINMUX('A', 9, AF8)>; /* USART2_CTS_NSS */
			bias-pull-up;
		};
	};

	usart2_rtscts_sleep_pins: usart2-rtscts-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('A', 5, ANALOG) /* USART2_RTS */
				  STM32_PINMUX('A', 9, ANALOG) /* USART2_CTS_NSS */
			>;
		};
	};

	usart2_sleep_pins: usart2-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('A', 4, ANALOG) /* USART2_TX */
				  STM32_PINMUX('A', 8, ANALOG) /* USART2_RX */
			>;
		};
	};

	usbh_pins: usbh-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('C', 10, AF9) /* USBH_HS_VBUSEN */
			>;
		};

		pins2 {
			pinmux = <
				  STM32_PINMUX('C', 9, AF9) /* USBH_HS_OVRCUR */
			>;
			bias-pull-up;
		};
	};

	usbh_sleep_pins: usbh-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('C', 10, ANALOG) /* USBH_HS_VBUSEN */
				  STM32_PINMUX('C', 9, ANALOG) /* USBH_HS_OVRCUR */
			>;
		};
	};
};
