// SPDX-License-Identifier: (GPL-2.0-only OR BSD-3-Clause)
/*
 * Copyright (C) 2024 Lothar Waßmann <LW@KARO-electronics.de>
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/stm32-pinfunc.h>
#include <dt-bindings/regulator/nxp,pca9450-regulator.h>
#include "stm32mp25-karo-resmem.dtsi"
#include "stm32mp255.dtsi"
#include "stm32mp25xf.dtsi"
#include "stm32mp25xxak-pinctrl.dtsi"

/ {
	model = "Ka-Ro electronics GmbH QSMP-2550 module";
	compatible = "karo,stm32mp255f-qsmp-2550", "karo,qsmp", "st,stm32mp255";

	aliases {
		can0 = &m_can1;
		can1 = &m_can2;
		csi2host = &csi;
		dcmipp = &dcmipp;
		ethernet0 = &eth1;
		ethernet1 = &eth2;
		i2c0 = &i2c2;
		i2c1 = &i2c6;
		i2c2 = &i2c7;
		mmc0 = &sdmmc2;
		mmc1 = &sdmmc1;
		mmc2 = &sdmmc3;
		sai1 = &sai1;
		serial0 = &uart4;
		serial1 = &usart3;
		serial2 = &uart5;
		spi0 = &spi4;
		spi1 = &spi7;
		usb-host = &usbh;
		usbotg = &dwc3;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	vdd: regulator-vdd {
		compatible = "regulator-fixed";
		regulator-name = "vdd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};
};

&cryp1 {
	status = "okay";
};

&dwc3 {
	usb-role-switch;
	dr_mode = "peripheral";
};

&hpdma {
	memory-region = <&hpdma1_lli>;
};

&hpdma2 {
	memory-region = <&hpdma2_lli>;
};

&hpdma3 {
	memory-region = <&hpdma3_lli>;
};

&i2c2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c2_pins>;
	pinctrl-1 = <&i2c2_sleep_pins>;
	scl-gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&i2c6 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c6_pins>;
	pinctrl-1 = <&i2c6_sleep_pins>;
	scl-gpios = <&gpiog 6 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpiog 5 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&i2c7 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c7_pins>;
	pinctrl-1 = <&i2c7_sleep_pins>;
	scl-gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpiod 14 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&iwdg1 {
	status = "okay";
};

&rtc {
	status = "okay";
};

&scmi_regu {
	scmi_vddcore: voltd-vddcore@a {
		reg = <VOLTD_SCMI_PCA9450_BUCK1>;
		regulator-name = "vddcore";
	};

	scmi_v1v8: voltd-v1v8@e {
		reg = <VOLTD_SCMI_PCA9450_BUCK5>;
		regulator-name = "v1v8";
	};

	scmi_vddio_sdcard: voltd-vddio-sdcard@13 {
		reg = <VOLTD_SCMI_PCA9450_LDO3>;
		regulator-name = "vddio_sdcard";
	};
};

&scmi_vddio1 {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
};

&sdmmc1 {
	/* SD card slot #1 */
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc1_pins>;
	pinctrl-1 = <&sdmmc1_opendrain_pins>;
	pinctrl-2 = <&sdmmc1_sleep_pins>;
	disable-wp;
	st,neg-edge;
	bus-width = <4>;
	vmmc-supply = <&vdd>;
	vqmmc-supply = <&scmi_vddio1>;
	no-1-8-v;
};

&sdmmc2 {
	/* eMMC */
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc2_pins>;
	pinctrl-1 = <&sdmmc2_opendrain_pins>;
	pinctrl-2 = <&sdmmc2_sleep_pins>;
	bus-width = <8>;
	vmmc-supply = <&vdd>;
	vqmmc-supply = <&scmi_vddio2>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	no-sd;
	no-sdio;
	st,neg-edge;
	non-removable;
	status = "okay";
};

&sdmmc3 {
	/* SD card slot #2 */
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc3_pins>;
	pinctrl-1 = <&sdmmc3_opendrain_pins>;
	pinctrl-2 = <&sdmmc3_sleep_pins>;
	disable-wp;
	st,neg-edge;
	bus-width = <4>;
	vmmc-supply = <&vdd>;
	vqmmc-supply = <&scmi_vddio1>;
	no-1-8-v;
};

&spi4 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&spi4_pins>;
	pinctrl-1 = <&spi4_sleep_pins>;
};

&spi7 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&spi7_pins>;
	pinctrl-1 = <&spi7_sleep_pins>;
};

&uart4 {
	/* serial console */
	pinctrl-names = "default", "idle", "sleep";
	pinctrl-0 = <&uart4_pins>;
	pinctrl-1 = <&uart4_idle_pins>;
	pinctrl-2 = <&uart4_sleep_pins>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default", "idle", "sleep";
	pinctrl-0 = <&uart5_pins &uart5_rtscts_pins>;
	pinctrl-1 = <&uart5_idle_pins &uart5_rtscts_idle_pins>;
	pinctrl-2 = <&uart5_sleep_pins &uart5_rtscts_sleep_pins>;
	status = "okay";
};

&usart3 {
	pinctrl-names = "default", "idle", "sleep";
	pinctrl-0 = <&usart3_pins>;
	pinctrl-1 = <&usart3_idle_pins>;
	pinctrl-2 = <&usart3_sleep_pins>;
	status = "okay";
};

&usb2_phy1 {
	vdd33-supply = <&vdd>;
	status = "okay";
};

&usb2_phy2 {
	vdd33-supply = <&vdd>;
	status = "okay";
};

&usb3dr {
	status = "okay";
};

&usbh {
	status = "okay";
};

&pinctrl {
	i2c2_pins: i2c2-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('B', 5, AF9)	/* I2C2_SCL */
				  STM32_PINMUX('B', 4, AF9)	/* I2C2_SDA */
			>;
			bias-pull-up;
			drive-open-drain;
			slew-rate = <0>;
		};
	};

	i2c2_sleep_pins: i2c2-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('B', 5, ANALOG)	/* I2C2_SCL */
				  STM32_PINMUX('B', 4, ANALOG)	/* I2C2_SDA */
			>;
			bias-pull-up;
		};
	};

	i2c6_pins: i2c6-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('G', 6, AF9)	/* I2C6_SCL */
				  STM32_PINMUX('G', 5, AF9)	/* I2C6_SDA */
			>;
			bias-pull-up;
			drive-open-drain;
			slew-rate = <0>;
		};
	};

	i2c6_sleep_pins: i2c6-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('G', 6, ANALOG)	/* I2C6_SCL */
				  STM32_PINMUX('G', 5, ANALOG)	/* I2C6_SDA */
			>;
			bias-pull-up;
		};
	};

	i2c7_pins: i2c7-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('D', 15, AF10)	/* I2C7_SCL */
				  STM32_PINMUX('D', 14, AF10)	/* I2C7_SDA */
			>;
			bias-pull-up;
			drive-open-drain;
			slew-rate = <0>;
		};
	};

	i2c7_sleep_pins: i2c7-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('D', 15, ANALOG)	/* I2C7_SCL */
				  STM32_PINMUX('D', 14, ANALOG)	/* I2C7_SDA */
			>;
			bias-pull-up;
		};
	};

	sdmmc1_pins: sdmmc1-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('E', 4, AF10)	/* SDMMC1_D0 */
				  STM32_PINMUX('E', 5, AF10)	/* SDMMC1_D1 */
				  STM32_PINMUX('E', 0, AF10)	/* SDMMC1_D2 */
				  STM32_PINMUX('E', 1, AF10)	/* SDMMC1_D3 */
				  STM32_PINMUX('E', 2, AF10)	/* SDMMC1_CMD */
			>;
			bias-disable;
			drive-push-pull;
			slew-rate = <2>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('E', 3, AF10)>;	/* SDMMC1_CK */
			bias-disable;
			drive-push-pull;
			slew-rate = <3>;
		};
	};

	sdmmc1_opendrain_pins: sdmmc1-opendrain-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('E', 4, AF10)	/* SDMMC1_D0 */
				  STM32_PINMUX('E', 5, AF10)	/* SDMMC1_D1 */
				  STM32_PINMUX('E', 0, AF10)	/* SDMMC1_D2 */
				  STM32_PINMUX('E', 1, AF10)	/* SDMMC1_D3 */
			>;
			bias-disable;
			drive-push-pull;
			slew-rate = <2>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('E', 3, AF10)>;	/* SDMMC1_CK */
			bias-disable;
			drive-push-pull;
			slew-rate = <3>;
		};

		pins3 {
			pinmux = <STM32_PINMUX('E', 2, AF10)>;	/* SDMMC1_CMD */
			bias-disable;
			drive-open-drain;
			slew-rate = <2>;
		};
	};

	sdmmc1_sleep_pins: sdmmc1-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('E', 4, ANALOG)	/* SDMMC1_D0 */
				  STM32_PINMUX('E', 5, ANALOG)	/* SDMMC1_D1 */
				  STM32_PINMUX('E', 0, ANALOG)	/* SDMMC1_D2 */
				  STM32_PINMUX('E', 1, ANALOG)	/* SDMMC1_D3 */
				  STM32_PINMUX('E', 3, ANALOG)	/* SDMMC1_CK */
				  STM32_PINMUX('E', 2, ANALOG)	/* SDMMC1_CMD */
			>;
		};
	};

	sdmmc2_pins: sdmmc2-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('E', 13, AF12)	/* SDMMC2_D0 */
				  STM32_PINMUX('E', 11, AF12)	/* SDMMC2_D1 */
				  STM32_PINMUX('E', 8, AF12)	/* SDMMC2_D2 */
				  STM32_PINMUX('E', 12, AF12)	/* SDMMC2_D3 */
				  STM32_PINMUX('E', 10, AF12)	/* SDMMC2_D4 */
				  STM32_PINMUX('E', 9, AF12)	/* SDMMC2_D5 */
				  STM32_PINMUX('E', 6, AF12)	/* SDMMC2_D6 */
				  STM32_PINMUX('E', 7, AF12)	/* SDMMC2_D7 */
				  STM32_PINMUX('E', 15, AF12)	/* SDMMC2_CMD */
			>;
			bias-disable;
			drive-push-pull;
			slew-rate = <2>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('E', 14, AF12)>;	/* SDMMC2_CK */
			bias-disable;
			drive-push-pull;
			slew-rate = <3>;
		};
	};

	sdmmc2_opendrain_pins: sdmmc2-opendrain-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('E', 13, AF12)	/* SDMMC2_D0 */
				  STM32_PINMUX('E', 11, AF12)	/* SDMMC2_D1 */
				  STM32_PINMUX('E', 8, AF12)	/* SDMMC2_D2 */
				  STM32_PINMUX('E', 12, AF12)	/* SDMMC2_D3 */
				  STM32_PINMUX('E', 10, AF12)	/* SDMMC2_D4 */
				  STM32_PINMUX('E', 9, AF12)	/* SDMMC2_D5 */
				  STM32_PINMUX('E', 6, AF12)	/* SDMMC2_D6 */
				  STM32_PINMUX('E', 7, AF12)	/* SDMMC2_D7 */
			>;
			bias-disable;
			drive-push-pull;
			slew-rate = <2>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('E', 14, AF12)>;	/* SDMMC2_CK */
			bias-disable;
			drive-push-pull;
			slew-rate = <3>;
		};

		pins3 {
			pinmux = <STM32_PINMUX('E', 15, AF12)>;	/* SDMMC2_CMD */
			bias-pull-up;
			drive-open-drain;
			slew-rate = <2>;
		};
	};

	sdmmc2_sleep_pins: sdmmc2-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('E', 13, ANALOG)	/* SDMMC2_D0 */
				  STM32_PINMUX('E', 11, ANALOG)	/* SDMMC2_D1 */
				  STM32_PINMUX('E', 8, ANALOG)	/* SDMMC2_D2 */
				  STM32_PINMUX('E', 12, ANALOG)	/* SDMMC2_D3 */
				  STM32_PINMUX('E', 10, ANALOG)	/* SDMMC2_D4 */
				  STM32_PINMUX('E', 9, ANALOG)	/* SDMMC2_D5 */
				  STM32_PINMUX('E', 6, ANALOG)	/* SDMMC2_D6 */
				  STM32_PINMUX('E', 7, ANALOG)	/* SDMMC2_D7 */
				  STM32_PINMUX('E', 14, ANALOG)	/* SDMMC2_CK */
				  STM32_PINMUX('E', 15, ANALOG)	/* SDMMC2_CMD */
			>;
		};
	};

	sdmmc3_pins: sdmmc3-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('B', 14, AF10)	/* SDMMC3_D0 */
				  STM32_PINMUX('D', 13, AF10)	/* SDMMC3_D1 */
				  STM32_PINMUX('B', 12, AF10)	/* SDMMC3_D2 */
				  STM32_PINMUX('I', 11, AF10)	/* SDMMC3_D3 */
				  STM32_PINMUX('D', 12, AF10)	/* SDMMC3_CMD */
			>;
			bias-disable;
			drive-push-pull;
			slew-rate = <2>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('B', 13, AF10)>;	/* SDMMC3_CK */
			bias-disable;
			drive-push-pull;
			slew-rate = <3>;
		};
	};

	sdmmc3_opendrain_pins: sdmmc3-opendrain-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('B', 14, AF10)	/* SDMMC3_D0 */
				  STM32_PINMUX('D', 13, AF10)	/* SDMMC3_D1 */
				  STM32_PINMUX('B', 12, AF10)	/* SDMMC3_D2 */
				  STM32_PINMUX('I', 11, AF10)	/* SDMMC3_D3 */
			>;
			bias-disable;
			drive-push-pull;
			slew-rate = <2>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('B', 13, AF10)>;	/* SDMMC3_CK */
			bias-disable;
			drive-push-pull;
			slew-rate = <3>;
		};

		pins3 {
			pinmux = <STM32_PINMUX('D', 12, AF10)>;	/* SDMMC3_CMD */
			bias-disable;
			drive-open-drain;
			slew-rate = <2>;
		};
	};

	sdmmc3_sleep_pins: sdmmc3-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('B', 14, ANALOG)	/* SDMMC3_D0 */
				  STM32_PINMUX('D', 13, ANALOG)	/* SDMMC3_D1 */
				  STM32_PINMUX('B', 12, ANALOG)	/* SDMMC3_D2 */
				  STM32_PINMUX('I', 11, ANALOG)	/* SDMMC3_D3 */
				  STM32_PINMUX('D', 12, ANALOG)	/* SDMMC3_CMD */
				  STM32_PINMUX('B', 13, ANALOG)	/* SDMMC3_CK */
			>;
		};
	};

	spi4_pins: spi4-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('D', 7, AF1)	/* SPI4_SCLK */
				  STM32_PINMUX('D', 6, AF1)	/* SPI4_MOSI */
			>;
			bias-disable;
		};

		pins2 {
			pinmux = <
				  STM32_PINMUX('D', 4, AF1)	/* SPI4_MISO */
			>;
			bias-pull-up;
		};
	};

	spi4_sleep_pins: spi4-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('D', 7, ANALOG)	/* SPI4_SCLK */
				  STM32_PINMUX('D', 6, ANALOG)	/* SPI4_MOSI */
				  STM32_PINMUX('D', 4, ANALOG)	/* SPI4_MISO */
			>;
			bias-pull-up;
		};
	};

	spi7_pins: spi7-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('B', 13, AF2)	/* SPI7_SCLK */
				  STM32_PINMUX('G', 11, AF2)	/* SPI7_MOSI */
			>;
			bias-disable;
		};

		pins2 {
			pinmux = <
				  STM32_PINMUX('D', 12, AF1)	/* SPI7_MISO */
			>;
			bias-pull-up;
		};
	};

	spi7_sleep_pins: spi7-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('B', 13, ANALOG)	/* SPI7_SCLK */
				  STM32_PINMUX('G', 11, ANALOG)	/* SPI7_MOSI */
				  STM32_PINMUX('D', 12, ANALOG)	/* SPI7_MISO */
			>;
			bias-pull-up;
		};
	};

	uart4_pins: uart4-pins {
		pins1 {
			pinmux = <STM32_PINMUX('B', 7, AF3)>;	/* UART4_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('B', 6, AF3)>;	/* UART4_RX */
			bias-pull-up;
		};
	};

	uart4_idle_pins: uart4-idle-pins {
		pins1 {
			pinmux = <STM32_PINMUX('B', 7, ANALOG)>; /* UART4_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('B', 6, AF3)>;	/* UART4_RX */
			bias-pull-up;
		};
	};

	uart4_sleep_pins: uart4-sleep-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('B', 7, ANALOG)	/* UART4_TX */
				  STM32_PINMUX('B', 6, ANALOG)	/* UART4_RX */
			>;
			bias-pull-up;
		};
	};

	uart5_pins: uart5-pins {
		pins1 {
			pinmux = <STM32_PINMUX('G', 9, AF5)>;	/* UART5_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('G', 10, AF5)>;	/* UART5_RX */
			bias-pull-up;
		};
	};

	uart5_idle_pins: uart5-idle-pins {
		pins1 {
			pinmux = <STM32_PINMUX('G', 9, ANALOG)>; /* UART5_TX */
		};

		pins2 {
			pinmux = <STM32_PINMUX('G', 10, AF5)>;	/* UART5_RX */
			bias-pull-up;
		};
	};

	uart5_rtscts_pins: uart5-rtscts-pins {
		pins1 {
			pinmux = <STM32_PINMUX('G', 8, AF5)>;	/* UART5_RTS */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('G', 1, AF5)>;	/* UART5_CTS_NSS */
			bias-pull-up;
		};
	};

	uart5_rtscts_idle_pins: uart5-rtscts-idle-pins {
		pins1 {
			pinmux = <STM32_PINMUX('G', 8, AF5)>;	/* UART5_RTS */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('G', 1, ANALOG)>; /* UART5_CTS_NSS */
			bias-pull-up;
		};
	};

	uart5_rtscts_sleep_pins: uart5-rtscts-sleep-pins {
		pins1 {
			pinmux = <
				  STM32_PINMUX('G', 8, ANALOG)	/* UART5_RTS */
				  STM32_PINMUX('G', 1, ANALOG)	/* UART5_CTS_NSS */
			>;
			bias-pull-up;
		};
	};

	uart5_sleep_pins: uart5-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('D', 3, ANALOG)	/* UART5_TX */
				  STM32_PINMUX('D', 0, ANALOG)	/* UART5_RX */
			>;
		};
	};

	usart3_pins: usart3-pins {
		pins1 {
			pinmux = <STM32_PINMUX('I', 6, AF6)>;	/* USART3_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};

		pins2 {
			pinmux = <STM32_PINMUX('I', 7, AF6)>;	/* USART3_RX */
			bias-pull-up;
		};
	};

	usart3_idle_pins: usart3-idle-pins {
		pins1 {
			pinmux = <STM32_PINMUX('I', 6, ANALOG)>; /* USART3_TX */
		};

		pins2 {
			pinmux = <STM32_PINMUX('I', 7, AF6)>; /* USART3_RX */
			bias-pull-up;
		};
	};

	usart3_sleep_pins: usart3-sleep-pins {
		pins {
			pinmux = <
				  STM32_PINMUX('I', 6, ANALOG)	/* USART3_TX */
				  STM32_PINMUX('I', 7, ANALOG)	/* USART3_RX */
			>;
		};
	};
};
